{
  "mcpServers": {
    "1c-code-metadata-mcp": {
      "type": "sse",
      "url": "http://localhost:8000/mcp"
    },
    "1c-syntax-checker-mcp": {
      "type": "sse",
      "url": "http://localhost:8002/mcp"
    },
    "1C-docs-mcp": {
      "type": "sse",
      "url": "http://localhost:8003/mcp"
    },
    "1c-templates-mcp": {
      "type": "sse",
      "url": "http://localhost:8004/mcp"
    },
    "1c-graph-metadata-mcp": {
      "type": "sse",
      "url": "http://localhost:8006/mcp"
    },
    "1c-code-check-mcp": {
      "type": "sse",
      "url": "http://localhost:8007/mcp"
    },
    "1c-ssl-mcp": {
      "type": "sse",
      "url": "http://localhost:8008/mcp"
    },
    "1c-forms-mcp": {
      "type": "sse",
      "url": "http://localhost:8011/mcp"
    }
  }
}
